@charset "UTF-8";

.multistate-button{

	color: #6a6a6a;
	border-color: #b4b4b4;
	background-color: rgb(246,246,246);
	@include filter-gradient(#f6f6f6, #dddddd, vertical);
	@include background-image(linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(221,221,221,1) 100%));

	&.msb-after {

		color: #fff;
		border-color: #265312;
		background-color: rgb(146,212,119);
		@include filter-gradient(#92d477, #4f932f, vertical);
		@include background-image(linear-gradient(top,  rgba(146,212,119,1) 0%,rgba(79,147,47,1) 100%));
	}
}


